@font-face { font-family: 'julius_sans_oneregular'; src: url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff2") format("woff2"), url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-Regular") format('"trueType"'); }
@font-face { font-family: 'Raleway-light'; src: url("../fonts/raleway/Raleway-Light") format('"trueType"'); }
@font-face { font-family: 'julius_sans_oneregular'; src: url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff2") format("woff2"), url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-Regular") format('"trueType"'); }
@font-face { font-family: 'Raleway-light'; src: url("../fonts/raleway/Raleway-Light") format('"trueType"'); }
p { font-family: 'Raleway', sans-serif; }

h2, h3, h1, h4, h5, h6 { font-family: "julius_sans_oneregular", sans-serif !important; }

#navbar .bg { background: white; padding: 20px; /* font-family: 'Julius Sans One', sans-serif; */ font-family: 'julius_sans_oneregular', sans-serif; }
#navbar .bg .navbar-brand { margin-right: 40px; }
#navbar .bg .nav-item { margin-right: 20px; }
#navbar .bg .nav-link { color: #3f3e3e; }
#navbar .bg .nav-item.active .nav-link { color: black; }

/* ============================================================================================================================== */
/* HERO SECTION */
/* ============================================================================================================================= */
/* ====================================================================== */
hero { background: #4d3a3a; }

.inner-hero { background: #eee; width: 100%; height: 90vh; border-top-left-radius: 290px 290px; display: flex; justify-content: center; align-items: center; }
.inner-hero .container-fluid { height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; padding-right: 0; padding-left: 0; }
.inner-hero .container-fluid .row { height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; margin-left: 0; margin-right: 0; }
.inner-hero .container-fluid .row .col-md-7 { height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; padding-right: 0; padding-left: 0; }
.inner-hero .container-fluid .row .col-md-7 .hero-left { height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; background: #725fc7 url("../img/home/mark-01.png") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; border-top-left-radius: 290px 290px; border-bottom-right-radius: 450px 500px; /* border-top-right-radius:    1em 3em; */ /*     border-bottom-left-radius:  1em 3em; */ }
.inner-hero .container-fluid .row .col-md-7 .hero-left .content { width: 70%; }
.inner-hero .container-fluid .row .col-md-7 .hero-left .content h1 { font-family: 'julius_sans_oneregular', sans-serif; color: #e2dddd; font-size: 50px; margin-bottom: 30px; line-height: 55px; }
.inner-hero .container-fluid .row .col-md-7 .hero-left .content p { font-family: 'julius_sans_oneregular', sans-serif; color: #aaa; padding: 5px; font-size: 32px; margin-bottom: 0px; }
.inner-hero .container-fluid .row .col-md-7 .hero-left .content a { font-family: 'julius_sans_oneregular', sans-serif; color: #000; background: #f5efef; padding: 5px; margin-left: 6px; margin-top: 20px; display: block; text-align: center; width: 20%; }
.inner-hero .container-fluid .row .col-md-5 { height: 100%; width: 100%; padding: 0; }
.inner-hero .container-fluid .row .col-md-5 .img-container { height: 100%; width: 100%; padding: 40px; position: relative; }
.inner-hero .container-fluid .row .col-md-5 .img-container svg { width: 90%; position: absolute; left: -110px; top: 50px; }

/* ============= slideshow ============== */
.second .item { width: 90%; margin: 0px; }

.item { display: block; /* background: #f88; */ /* padding: 100px 40px; */ font-family: 'Raleway', sans-serif; }

.slideshows { padding-top: 150px; padding-bottom: 100px; }

.slideshows .slideshows-text-col { display: flex; justify-content: center; align-items: center; }

.slideshows .slideshows-text { width: 80%; }

.slideshows .slideshows-text h2 { font-family: "julius_sans_oneregular", sans-serif !important; color: #3c3a3a; font-size: 24px; }

.slideshows .slideshows-text p { font-family: 'Raleway', sans-serif; }

.slideshows .slideshows-text .slideshows-btn { background: #ff00da; color: white; }

.slideshows .slideshows-text .slideshows-btn:hover { transition: all ease .9s; background: #710261; }

.latest-projects { background: #eee; padding-top: 50px; }
.latest-projects .latest-projects-title { padding: 35px 50px 35px; border: 1px solid #c0bfbf; border-bottom: none; width: 36%; }
.latest-projects .latest-projects-title h5 { text-transform: uppercase; font-family: "julius_sans_oneregular", sans-serif !important; }

.latest-projects-image { padding-bottom: 120px; }
.latest-projects-image .container-fluid { padding: 0; }
.latest-projects-image .container-fluid .row { margin-right: 0; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content { padding: 120px 50px; position: absolute; top: 25%; width: 70%; font-family: "julius_sans_oneregular", sans-serif !important; overflow: hidden; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content h2 { color: #3c3a3a; font-size: 20px; font-weight: 300; text-align: center; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content p { line-height: 24px; text-align: center; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right { position: absolute; left: -15px; border-left: none; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right.last { padding: 80px 50px; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.left { position: absolute; right: -15px; border-right: none; padding: 80px 50px; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right span { display: block; background: #d7d6d6; transition: 10.6s; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right span:nth-child(1), .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right span:nth-child(3) { position: absolute; height: 2px; width: 100%; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right span:nth-child(2) { position: absolute; height: 100%; width: 2px; }
.latest-projects-image .container-fluid .row [data-aos="anim-right1"] { top: 0; left: -100%; transition-delay: 4s; transition-duration: 4s; }
.latest-projects-image .container-fluid .row [data-aos="anim-right2"] { top: -100%; right: 0%; transition-delay: 6s; transition-duration: 4s; }
.latest-projects-image .container-fluid .row [data-aos="anim-right3"] { bottom: 0; right: -100%; transition-delay: 8s; transition-duration: 4s; }
.latest-projects-image .container-fluid .row [data-aos="anim-right1"].aos-animate { top: 0; left: 0; }
.latest-projects-image .container-fluid .row [data-aos="anim-right2"].aos-animate { top: 0; right: 0%; }
.latest-projects-image .container-fluid .row [data-aos="anim-right3"].aos-animate { bottom: 0; right: 0; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.left span { display: block; background: #d7d6d6; transition: 10.6s; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.left span:nth-child(1), .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.left span:nth-child(3) { position: absolute; height: 2px; width: 100%; }
.latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.left span:nth-child(4) { position: absolute; height: 100%; width: 2px; }
.latest-projects-image .container-fluid .row [data-aos="anim-left1"] { top: 0; left: -100%; transition-delay: 0s; transition-duration: 2s; }
.latest-projects-image .container-fluid .row [data-aos="anim-left3"] { bottom: 0; right: -100%; transition-delay: 2s; }
.latest-projects-image .container-fluid .row [data-aos="anim-left4"] { bottom: -100%; left: 0%; transition-delay: 3s; }
.latest-projects-image .container-fluid .row [data-aos="anim-left1"].aos-animate { top: 0; left: 0; }
.latest-projects-image .container-fluid .row [data-aos="anim-left3"].aos-animate { bottom: 0; right: 0; }
.latest-projects-image .container-fluid .row [data-aos="anim-left4"].aos-animate { bottom: 0; left: 0%; }

.latest-projects-image.last { padding-bottom: 100px; }

.we-are-commited { padding: 120px; }
.we-are-commited-content { width: 90%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.we-are-commited-content h5 { font-family: 'julius_sans_oneregular', sans-serif; text-transform: uppercase; font-size: 25px; font-weight: 3; }
.we-are-commited-content p { padding-top: 10px; line-height: 24px; font-family: 'Raleway', sans-serif; }

.our-partners { padding: 100px; background: #eee; }
.our-partners-content { margin: auto; width: 70%; margin-bottom: 60px; }
.our-partners-content h5 { font-family: 'julius_sans_oneregular', sans-serif; text-transform: uppercase; font-size: 25px; text-align: center; }
.our-partners-content p { width: 66%; padding-top: 10px; line-height: 24px; margin: auto; text-align: center; font-family: 'Raleway', sans-serif; }
.our-partners .we-are-commited-img .we-are-commited-img-slide .item .name-pic .pics { padding-right: 20px; }
.our-partners .we-are-commited-img .we-are-commited-img-slide .item .name-pic .pics:first-child { padding-left: 20px; }
.our-partners .we-are-commited-img .we-are-commited-img-slide .item .name-pic .pics img { opacity: 0.6; -webkit-filter: blur(2px) brightness(0%); transition: all 0.9s ease; }
.our-partners .we-are-commited-img .we-are-commited-img-slide .owl-item.active.center .item .name-pic .pics img { opacity: 1; -webkit-filter: blur(0) brightness(100%); transition: all 0.9s ease; }

#iv-graphics-bg { width: 100%; height: 70vh; }
#iv-graphics-bg .container-fluid { height: 100%; }
#iv-graphics-bg .container-fluid .row { height: 100%; }
#iv-graphics-bg .container-fluid .row .col-md-6.left { background: #eee; padding-right: 0; padding-left: 100px; }
#iv-graphics-bg .container-fluid .row .col-md-6.left .contain-top img { width: 130px; padding-top: 20px; }
#iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down { height: 90%; display: flex; align-items: center; }
#iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down .content-wrap { width: 80%; }
#iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down .content-wrap h2 { font-size: 30px; }
#iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down .content-wrap h2.top span { background: #4f469c; color: white; padding: 5px; }
#iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down .content-wrap h2.down { color: #4f469c; }
#iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down .content-wrap p { width: 75%; padding-top: 10px; }
#iv-graphics-bg .container-fluid .row .col-md-6.right { padding-right: 0; padding-left: 0; background: #4f469c; }
#iv-graphics-bg .container-fluid .row .col-md-6.right .contain-top { display: flex; justify-content: flex-end; }
#iv-graphics-bg .container-fluid .row .col-md-6.right .contain-top h3 { color: white; height: 10%; padding: 20px 100px 0 0; font-size: 20px; }
#iv-graphics-bg .container-fluid .row .col-md-6.right .contain-top a { color: #afacac; }
#iv-graphics-bg .container-fluid .row .col-md-6.right .contain-down { height: 90%; display: flex; justify-content: center; align-items: center; }
#iv-graphics-bg .container-fluid .row .col-md-6.right .contain-down .content-wrap { width: 100%; text-align: center; }
#iv-graphics-bg .container-fluid .row .col-md-6.right .contain-down .content-wrap h2 { font-size: 60px; color: #b6b6b7; }

.section-our-expertise { padding: 100px; text-align: center; }
.section-our-expertise h3 { font-size: 35px; }
.section-our-expertise p { width: 70%; margin: 15px auto; }

.section-a .section-main { padding: 60px; }
.section-a .section-main .container { height: 100%; }
.section-a .section-main .container .row { height: 100%; }
.section-a .section-main .container .row .col-md-6.heading .content { display: flex; height: 100%; }
.section-a .section-main .container .row .col-md-6.heading .content .content-wrap { align-self: center; }
.section-a .section-main .container .row .col-md-6.heading .content .content-wrap h3 { font-size: 40px; color: #4f469c; }
.section-a .section-main .container .row .col-md-6.text { height: 100%; }
.section-a .section-main .container .row .col-md-6.text .content { height: 100%; background: #4f469c; }
.section-a .section-main .container .row .col-md-6.text .content .content-wrap { padding: 80px; }
.section-a .section-main .container .row .col-md-6.text .content .content-wrap p { color: white; }
.section-a section.img .col-md-12 { padding: 0; }

.iv-graphics-work.first-section .container-fluid { padding: 0; overflow: hidden; }
.iv-graphics-work.first-section .container-fluid .row .col-md-8 { padding-left: 0; padding-right: 0px; }
.iv-graphics-work.first-section .container-fluid .row .col-md-4 { padding-left: 0px; padding-right: 0; }
.iv-graphics-work.first-section .container-fluid .row .col-md-4 .row .col-md-12.a .content { background: purple; padding: 105px; text-align: center; }
.iv-graphics-work.first-section .container-fluid .row .col-md-4 .row .col-md-12.a .content h3 { color: white; font-size: 53px; }
.iv-graphics-work.first-section .container-fluid .row .col-md-4 .row .col-md-12.b { margin-top: 0px; }

.iv-graphics-work.second-section { margin-top: 2px; }
.iv-graphics-work.second-section .container-fluid { padding: 0px 0 0px 0; overflow: hidden; }
.iv-graphics-work.second-section .container-fluid .row .col-md-8 { padding-left: 0px; }
.iv-graphics-work.second-section .container-fluid .row .col-md-4 { padding-right: 2px; }
.iv-graphics-work.second-section .container-fluid .row .col-md-4 .row .col-md-12.b { margin-top: 2px; }

.iv-graphics-work.third-section { margin-top: 2px; }
.iv-graphics-work.third-section .container-fluid { padding: 0; overflow: hidden; }
.iv-graphics-work.third-section .container-fluid .row .col-md-4.a { padding-left: 1px; padding-right: 1px; }
.iv-graphics-work.third-section .container-fluid .row .col-md-4.b { padding-left: 1px; padding-right: 1px; }
.iv-graphics-work.third-section .container-fluid .row .col-md-4.c { padding-left: 1px; padding-right: 1px; }

.iv-graphics-work.fourth-section { margin-top: 2px; }
.iv-graphics-work.fourth-section .container-fluid { padding: 0px 0 0 0; overflow: hidden; }
.iv-graphics-work.fourth-section .container-fluid .row .col-md-4 { padding-right: 5px; }
.iv-graphics-work.fourth-section .container-fluid .row .col-md-4 .content { height: 100%; }
.iv-graphics-work.fourth-section .container-fluid .row .col-md-4 .content #fourth-section-a-svg { height: 100%; }
.iv-graphics-work.fourth-section .container-fluid .row .col-md-8 { padding-left: 5px; padding-right: 0px; }
.iv-graphics-work.fourth-section .container-fluid .row .col-md-8 .content { height: 100%; }
.iv-graphics-work.fourth-section .container-fluid .row .col-md-8 .content #fourth-section-b-svg { height: 99%; }

.iv-graphics-work.fifth-section { margin-top: 2px; }
.iv-graphics-work.fifth-section .container-fluid { padding: 0; overflow: hidden; }
.iv-graphics-work.fifth-section .container-fluid .row .col-md-4.a { padding-left: 1px; padding-right: 1px; }
.iv-graphics-work.fifth-section .container-fluid .row .col-md-4.b { padding-left: 1px; padding-right: 1px; }
.iv-graphics-work.fifth-section .container-fluid .row .col-md-4.c { padding-left: 1px; padding-right: 1px; }

.iv-graphics-work.sixth-section { margin-top: 2px; }
.iv-graphics-work.sixth-section .container-fluid { padding: 0px 0 0px 0; overflow: hidden; }
.iv-graphics-work.sixth-section .container-fluid .row .col-md-8 { padding-left: 0px; }
.iv-graphics-work.sixth-section .container-fluid .row .col-md-4 { padding-right: 2px; }

.iv-graphics-work.seventh-section { margin-top: 2px; }
.iv-graphics-work.seventh-section .container-fluid { padding: 0px 0 0px 0; overflow: hidden; }
.iv-graphics-work.seventh-section .container-fluid .row .col-md-6.a { padding-left: 0px; }
.iv-graphics-work.seventh-section .container-fluid .row .col-md-6.b { padding-right: 2px; }

.iv-graphics-work.eight-section { margin-top: 2px; }
.iv-graphics-work.eight-section .container-fluid { padding: 0px 0 0px 0; overflow: hidden; }
.iv-graphics-work.eight-section .container-fluid .row .col-md-8 { padding-left: 0px; }
.iv-graphics-work.eight-section .container-fluid .row .col-md-4 { padding-right: 2px; }

@font-face { font-family: 'julius_sans_oneregular'; src: url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff2") format("woff2"), url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-Regular") format('"trueType"'); }
@font-face { font-family: 'Raleway-light'; src: url("../fonts/raleway/Raleway-Light") format('"trueType"'); }
@font-face { font-family: 'julius_sans_oneregular'; src: url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff2") format("woff2"), url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-Regular") format('"trueType"'); }
@font-face { font-family: 'Raleway-light'; src: url("../fonts/raleway/Raleway-Light") format('"trueType"'); }
p { font-family: 'Raleway', sans-serif; }

h2, h3, h1, h4, h5, h6 { font-family: "julius_sans_oneregular", sans-serif !important; }

#iv-render .iv-render.banner { height: 100vh; width: 100%; background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/iv-render/bg.jpg") center center fixed no-repeat; background-size: cover; }
#iv-render .iv-render.banner .container.iv-container { height: 100%; }
#iv-render .iv-render.banner .container.iv-container .row.iv-row { height: 100%; }
#iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-sub { height: 10%; }
#iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-sub .sub-menu .logo { width: 100%; padding: 20px; display: flex; }
#iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-sub .sub-menu .logo span { margin-left: auto; text-transform: uppercase; font-family: "julius_sans_oneregular", sans-serif !important; }
#iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-sub .sub-menu .logo span a { color: #afacac; }
#iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-content { height: 90%; display: flex; align-items: center; justify-content: center; }
#iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-content .main-content .content-wrap { z-index: 2; text-align: center; }
#iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-content .main-content .content-wrap h3 { color: #fff; font-size: 45px; font-weight: 500; margin-bottom: 10px; }
#iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-content .main-content .content-wrap h2 { color: #fff; font-size: 55px; font-weight: 700; }

.iv-render.category { padding: 120px 0 60px 0; }
.iv-render.category .container-fluid .col-md-4.img-4 { padding-left: 0; padding-right: 3px; }
.iv-render.category .container-fluid .col-md-4.img-4 .content .img-content { margin-top: 10px; margin-left: 5px; }
.iv-render.category .container-fluid .col-md-4.img-4 .content .img-content h4 { margin-bottom: 0; font-size: 22px; }
.iv-render.category .container-fluid .col-md-8.img-8 { padding-left: 3px; }
.iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img1 { margin-bottom: 3px; padding-right: 0; }
.iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img1 .content .img-content { margin-bottom: 10px; }
.iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img1 .content .img-content h4 { margin-bottom: 0; font-size: 22px; margin-top: -5px; }
.iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img1 .content .img-content p { margin-bottom: 0; }
.iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img2 { padding-right: 0; margin-top: 3px; }
.iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img2 .content .img-content { margin-top: 10px; margin-left: 5px; }
.iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img2 .content .img-content h4 { margin-bottom: 0; font-size: 22px; }

.iv-render.capability { background: #282828; padding: 100px; }
.iv-render.capability .heading { text-align: center; margin-bottom: 60px; }
.iv-render.capability .heading h2 { color: #b6b6b7; font-size: 44px; margin-bottom: 25px; }
.iv-render.capability .heading .underscore { width: 25%; height: 1px; background: linear-gradient(to right, #282828, #494949, #777777, #777777, #494949, #282828); margin: auto; }
.iv-render.capability .col-md-4 .content { padding-left: 20px; padding-right: 20px; text-align: center; }
.iv-render.capability .col-md-4 .content .img { padding: 10px; }
.iv-render.capability .col-md-4 .content .img img { width: 50px; }
.iv-render.capability .col-md-4 .content .main-content h4 { color: #b6b6b7; margin-bottom: 15px; }
.iv-render.capability .col-md-4 .content .main-content p { color: #b6b6b7; }

.iv-render.intuitive { padding: 120px 0 0 0; }
.iv-render.intuitive .heading { text-align: center; margin-bottom: 60px; }
.iv-render.intuitive .heading h2 { color: #282828; font-size: 44px; margin-bottom: 25px; }
.iv-render.intuitive .heading .underscore { width: 30%; height: 1px; border-radius: 50%; background: linear-gradient(to right, #777777, #494949, #282828, #494949, #777777); margin: auto; }
.iv-render.intuitive .col-md-5.slider .content { height: 100%; }
.iv-render.intuitive .col-md-5.slider .content .carousel.slide { height: 100%; }
.iv-render.intuitive .col-md-5.slider .content .carousel.slide .carousel-inner { height: 100%; }
.iv-render.intuitive .col-md-5.slider .content .carousel.slide .carousel-inner .carousel-item { height: 100%; }
.iv-render.intuitive .col-md-5.slider .content .carousel.slide .carousel-inner .carousel-item img { height: 100%; }
.iv-render.intuitive button:focus, .iv-render.intuitive input:focus, .iv-render.intuitive textarea:focus, .iv-render.intuitive select:focus { outline: none; }
.iv-render.intuitive .tabs { display: block; display: -webkit-flex; display: -moz-flex; display: flex; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; flex-wrap: wrap; margin: 0; overflow: hidden; }
.iv-render.intuitive .tabs [class^="tab"] label, .iv-render.intuitive .tabs [class*=" tab"] label { color: #38b348; cursor: pointer; display: block; font-size: 1.1em; font-weight: 300; line-height: 1em; padding: 10px 0 5px 0; text-align: center; }
.iv-render.intuitive .tabs [class^="tab"] [type="radio"], .iv-render.intuitive .tabs [class*=" tab"] [type="radio"] { border-bottom: 1px solid rgba(239, 237, 239, 0.5); cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none; display: block; width: 100%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.iv-render.intuitive .tabs [class^="tab"] [type="radio"]:hover, .iv-render.intuitive .tabs [class^="tab"] [type="radio"]:focus, .iv-render.intuitive .tabs [class*=" tab"] [type="radio"]:hover, .iv-render.intuitive .tabs [class*=" tab"] [type="radio"]:focus { border-bottom: 1px solid #38b34a; }
.iv-render.intuitive .tabs [class^="tab"] [type="radio"]:checked, .iv-render.intuitive .tabs [class*=" tab"] [type="radio"]:checked { border-bottom: 2px solid #38b34a; }
.iv-render.intuitive .tabs [class^="tab"] [type="radio"]:checked + div, .iv-render.intuitive .tabs [class*=" tab"] [type="radio"]:checked + div { opacity: 1; }
.iv-render.intuitive .tabs [class^="tab"] [type="radio"] + div, .iv-render.intuitive .tabs [class*=" tab"] [type="radio"] + div { display: block; opacity: 0; padding: 10px 0; width: 90%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.iv-render.intuitive .tabs .tab-2 { width: 30%; }
.iv-render.intuitive .tabs .tab-2 [type="radio"] + div { width: 300%; margin-left: 200%; }
.iv-render.intuitive .tabs .tab-2 [type="radio"]:checked + div { margin-left: 0%; }
.iv-render.intuitive .tabs .tab-2 [type="radio"]:checked + div { margin-left: 0%; }
.iv-render.intuitive .tabs .tab-2:nth-child(2) [type="radio"]:checked + div { margin-left: -100%; }
.iv-render.intuitive .tabs .tab-2:last-child [type="radio"]:checked + div { margin-left: -200%; }
.iv-render.intuitive .tabs { display: flex; justify-content: flex-end; }
.iv-render.intuitive .tabs .col-md-12 .col-md-6 .tab-content { text-align: center; margin-top: 30px; }
.iv-render.intuitive .tabs .col-md-12 .col-md-6 .tab-content .icon img { width: 50px; }
.iv-render.intuitive .tabs .col-md-12 .col-md-6 .tab-content .message { margin-top: 10px; }
.iv-render.intuitive .tabs .col-md-12 .col-md-6 .tab-content .message h3 { font-size: 16px; }
.iv-render.intuitive .tabs .col-md-12 .col-md-6 .tab-content .message p { font-size: 15px; }

#iv-explore-bg { width: 100%; height: 70vh; }
#iv-explore-bg .container-fluid { height: 100%; }
#iv-explore-bg .container-fluid .row { height: 100%; }
#iv-explore-bg .container-fluid .row .col-md-4 { padding-right: 0; padding-left: 140px; }
#iv-explore-bg .container-fluid .row .col-md-4 .contain img { width: 130px; }
#iv-explore-bg .container-fluid .row .col-md-8 { background: #282828; }
#iv-explore-bg .container-fluid .row .col-md-8 .contain { height: 100%; display: flex; justify-content: center; align-items: center; }
#iv-explore-bg .container-fluid .row .col-md-8 .contain .content-wrap { width: 50%; text-align: center; }
#iv-explore-bg .container-fluid .row .col-md-8 .contain .content-wrap h2 { font-size: 60px; color: #b6b6b7; }

.iv-explore.box-8-4 .col-md-8.box-8 { padding: 0; }
.iv-explore.box-8-4 .col-md-8.box-8 img { width: 100%; }
.iv-explore.box-8-4 .col-md-4.box-4 { display: flex; justify-content: center; align-items: center; }
.iv-explore.box-8-4 .col-md-4.box-4 .content { text-align: center; }
.iv-explore.box-8-4 .col-md-4.box-4 .content h4 { font-size: 20px; }

.load-more { padding-top: 100px; }
.load-more h4 { font-size: 20px; text-align: center; }
.load-more h4 .fa { color: green; font-weight: bold; }

.section-titl { padding: 100px 0 10px 0; background: #eee; }
.section-titl .content { text-align: center; width: 50%; margin: auto; }
.section-titl .content .underscore { width: 30%; height: 1px; border-radius: 50%; background: linear-gradient(to right, #777777, #494949, #282828, #494949, #777777); margin: 25px auto 0 auto; }

.iv-exclusive-section.section-8-4 { padding: 100px; background: #eee; }
.iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 { padding-left: 0; padding-right: 0; }
.iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content { padding-right: 40px; height: 100%; display: flex; justify-content: flex-end; align-items: center; }
.iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content .container-wrap { width: 80%; text-align: right; }
.iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content .container-wrap .title { background: red; display: inline-block; padding: 15px; color: white; margin-bottom: 30px; }
.iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content .container-wrap .title h4 { font-size: 50px; margin-bottom: 0; line-height: 40px; font-weight: 900; }
.iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content .container-wrap .title p { margin-bottom: 0; line-height: 20px; }
.iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content .container-wrap a.btn { border-radius: 0; border: 1px solid red; color: red; }
.iv-exclusive-section.section-8-4 .container-fluid .row .col-md-8 { padding-left: 0; padding-right: 0; }

.iv-exclusive-section.section-4-8 { padding: 100px; }
.iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 { padding-left: 0; padding-right: 0; }
.iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content { padding-left: 40px; height: 100%; display: flex; align-items: center; }
.iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content .container-wrap { width: 80%; text-align: left; }
.iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content .container-wrap .title { background: red; display: inline-block; padding: 15px; color: white; margin-bottom: 30px; }
.iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content .container-wrap .title h4 { font-size: 50px; margin-bottom: 0; line-height: 40px; font-weight: 900; }
.iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content .container-wrap .title p { margin-bottom: 0; line-height: 20px; }
.iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content .container-wrap a.btn { border-radius: 0; border: 1px solid red; color: red; }
.iv-exclusive-section.section-4-8 .container-fluid .row .col-md-8 { padding-left: 0; padding-right: 0; }

.section-features { padding: 100px; background: #eee; }
.section-features .content-title { display: flex; margin-bottom: 50px; align-items: baseline; }
.section-features .content-title h3 { background: #0d1120; color: #fff; padding: 10px 35px; margin-bottom: 0; }
.section-features .content-title span { background: #c87a05; width: 15px; height: 15px; margin-left: 10px; align-self: flex-end; }
.section-features .col-md-4 .content h3 { margin-bottom: 20px; }
.section-features .col-md-4 .content p { width: 80%; }

/*==========================================================================================*/
/*footer*/
/*=============================================================================================*/
/* ============================================================================================== */
/*                     call to action                                                                   */
/* ============================================================================================ */
.call-to-action { padding: 100px; }
.call-to-action .col-xs-12 { width: 100%; }
.call-to-action .col-xs-12 .content { width: 100%; display: flex; justify-content: space-between; }
.call-to-action .col-xs-12 .content .btn { border-radius: 0; }

.call-to-action.iv-graphics { background: #4f469c; }
.call-to-action.iv-graphics h3 { color: white; }
.call-to-action.iv-graphics a.btn { border: 1px white solid; color: white; }

.call-to-action.iv-exclusive { background: #0d1120; }
.call-to-action.iv-exclusive h3 { color: white; }
.call-to-action.iv-exclusive a.btn { border: 1px white solid; color: white; }

/* ============================================================================================== */
/*                     footer                                                                    */
/* ============================================================================================ */
footer#footer { background: #fff; position: relative; padding: 90px 50px 0 50px; }
footer#footer .main { background: #eee; padding: 50px 20px; }
footer#footer .main .row.inner .col-md-3.inner { border-right: 1px solid #d5d3d3; }
footer#footer .main .row.inner .col-md-3.inner:last-child { border-right: none; }
footer#footer .main .row.inner .col-md-3.inner .content { justify-content: center; display: flex; }
footer#footer .main .row.inner .col-md-3.inner .content .wrap h3 { font-family: "julius_sans_oneregular", sans-serif !important; color: #212529; font-size: 18px; margin-bottom: 30px; }
footer#footer .main .row.inner .col-md-3.inner .content .wrap a { padding: 5px 0; color: #212529; font-family: "Raleway", sans-serif !important; }
footer#footer .side { display: flex; justify-content: center; }
footer#footer .side .side-box { width: 70%; right: -104px; top: 0; background: #eee; height: 50px; position: absolute; }
footer#footer .side .content { width: 85%; position: absolute; bottom: -83px; background: #eee; padding: 30px; margin-left: 30px; display: flex; justify-content: center; }
footer#footer .side .content .wrap h3 { text-transform: Capitalize !important; color: #212529; font-size: 18px; font-family: 'Raleway', sans-serif; margin-bottom: 30px; }
footer#footer .side .content .wrap a { padding: 5px 0; color: #212529; font-family: "Raleway", sans-serif !important; }
footer#footer .side .content .wrap .connect { margin-top: 50px; }
footer#footer .side .content .wrap .connect h3 { font-size: 15px; margin-bottom: 1px; font-family: "Raleway", sans-serif !important; }
footer#footer .side .content .wrap .connect .nav { display: flex; justify-content: center; }
footer#footer .side .content .wrap .connect .nav a.nav-link { color: #212529; width: 20%; height: 19%; text-align: center; margin: 5px; }
footer#footer .copyright-color .container { padding: 30px 0; }
