
$color-1:#0d1120;
$color-2:#131926;
$color-2b:#061942;

$color-3:#2b7a78;//iside blu
$color-7:#3aafa9;
$color-8:#ff4500;

$color-4:#aaa;
$color-5:#eee;
$color-6:#959595;
$color-1a:#06080f;

$color-a:#e2001a;
$color-b: rgb(240, 243, 242);

