@import "colors";
@import "others";
@charset "UTF-8";
p{font-family: 'Raleway', sans-serif;}
h2,h3,h1,h4,h5,h6{
    font-family: "julius_sans_oneregular", sans-serif !important;
}
// @import url(//db.onlinewebfonts.com/c/ab804af7699fabaf769911c77bb4d115?family=UniSansW01-Regular);
// .sections {
//   padding: 100px 20px; }
//   .sections .head {
//     text-align: center;
//     margin-bottom: 50px; }
//     .sections .head h2 {
//       font-size: 30px;
//       font-weight: 600;
//       text-transform: uppercase;
//       color: rgba(170, 170, 170, 0.9);
//       font-family: "Blinker", sans-serif !important; }
//     .sections .head p {
//       color: #2b7a78;
//       font-weight: 500; }

// .sections-white {
//   padding: 100px 20px; }
//   .sections-white .head {
//     text-align: center;
//     margin-bottom: 50px; }
//     .sections-white .head h2 {
//       font-size: 30px;
//       font-weight: 600;
//       text-transform: uppercase;
//       color: rgba(13, 17, 32, 0.9);
//       font-family: "Blinker", sans-serif !important; }
//     .sections-white .head p {
//       color: #2b7a78;
//       font-weight: 500;
//       width: 70%;
//       text-align: center;
//       margin: 0 auto; }

// h3 {
//   font-size: 20px;
//   font-weight: 600;
//   text-transform: uppercase;
//   color: rgba(170, 170, 170, 0.6);
//   font-family: "Blinker", sans-serif !important; }

// .h3 {
//   font-size: 20px;
//   font-weight: 600;
//   text-transform: uppercase;
//   color: rgba(19, 25, 38, 0.8);
//   font-family: "Blinker", sans-serif !important; }

// h2 {
//   font-size: 30px;
//   font-weight: 600;
//   text-transform: uppercase;
//   color: rgba(13, 17, 32, 0.8);
//   font-family: "Blinker", sans-serif !important; }



// @font-face {
//   font-family: Uni Sans Thin;
//   src: url("fonts/UniSans/Uni Sans Thin.ttf"); }

// @font-face {
//   font-family: Uni Sans ThinCap;
//   src: url("fonts/UniSans/Uni Sans ThinCap.otf"); }

// @font-face {
//   font-family: Uni Sans Heavy;
//   src: url("fonts/UniSans/Uni Sans Heavy.otf"); }

// @font-face {
//   font-family: Uni Sans W01 Book;
//   src: url("fonts/UniSans/Uni Sans W01 Book.ttf"); }

// @font-face {
//   font-family: "UniSansW01-Regular";
//   src: url("//db.onlinewebfonts.com/t/ab804af7699fabaf769911c77bb4d115.eot");
//   src: url("//db.onlinewebfonts.com/t/ab804af7699fabaf769911c77bb4d115.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ab804af7699fabaf769911c77bb4d115.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ab804af7699fabaf769911c77bb4d115.woff") format("woff"), url("//db.onlinewebfonts.com/t/ab804af7699fabaf769911c77bb4d115.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ab804af7699fabaf769911c77bb4d115.svg#UniSansW01-Regular") format("svg"); }
