@font-face {
  font-family: 'julius_sans_oneregular';
  src: url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff2") format("woff2"), url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Regular") format('"trueType"'); }
@font-face {
  font-family: 'Raleway-light';
  src: url("../fonts/raleway/Raleway-Light") format('"trueType"'); }
p {
  font-family: 'Raleway', sans-serif; }

h2, h3, h1, h4, h5, h6 {
  font-family: "julius_sans_oneregular", sans-serif !important; }

/*# sourceMappingURL=headings.css.map */
