// @import "colors";
//     @font-face {
//     font-family: 'Montserrat-Regular';
//     src: url("fontsMontserrat/Montserrat-Regular.ttf") format("truetype"); }
//     @font-face {
//     font-family: 'Montserrat-Bold';
//     src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); }
//     @font-face {
//         font-family: 'Montserrat-SemiBold';
//         src: url("fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"); }
//     @font-face {
//         font-family: 'Montserrat-Thin';
//         src: url("fonts/Montserrat/Montserrat-Thin.ttf") format("truetype"); }

//   @font-face {
//     font-family: 'Blinker';
//     src: url("/fonts/Blinker-Light.ttf") format("trueType"); }
// @font-face {
//     font-family: 'Blinker-Thin';
//     src: url("/fonts/Blinker-Thin.ttf") format("trueType"); }
// @font-face {
//     font-family: 'Blinker-ExtraLight';
//     src: url("/fonts/Blinker-ExtraLight.ttf") format("trueType"); }
//   @font-face {
//     font-family: 'Roboto_Bold';
//     src: url("/fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
    font-family: 'julius_sans_oneregular';
    src: url('../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff2') format('woff2'),
         url('../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
     font-family: 'Raleway';
     src: url('../fonts/raleway/Raleway-Regular') format('"trueType"');
   }
   @font-face {
     font-family: 'Raleway-light';
     src: url('../fonts/raleway/Raleway-Light') format('"trueType"');
   }