// @media screen and (max-width: 794px) {

//     .navbar-toggler, .collapse navbar-collapse{
//        display: none;
//     }
//     mobile-navbar.mobile{
//         display:block ;
//      }
// }


// @media screen and (min-width: 795px) {
//     .mobile-navbar.mobile{
//         display: none; 
//     }
//     .navbar-toggler, .collapse navbar-collapse{
//         display:block;
//     }
// }
// .others{
//     padding: 120px;
//     background-image: linear-gradient(90deg, #0c4d6e 0.41%, #053a54 0.41%, #053a54 50%, #0c4d6e 50%, #0c4d6e 50.41%, #053a54 50.41%, #053a54 100%);
// background-size: 246.00px 246.00px;
// }
// ============================================================================
//      RESPOSIVENESS
// ============================================================================
@import "../generics/colors";
// ============================================================================
//      < 500
// ============================================================================
// @media screen and (max-width: 500px) /* Mobile */ {
//   .desktop{display:none}
//   .mobile{display:block}
//     #header #top-bar .container{
//         padding-right: 0px;
//         padding-left: 0px; 
//      }
//      ul.nav.nav-pills.nav-lang.language{
//       width: 50%   
//      }
//       ul.nav.nav-pills.nav-lang.language li{font-size: 14px}
//          ul.nav.nav-pills.nav-lang.language li select{width: 100%}
//          #header #top-bar a {
//          font-size: 14px;
//          padding: 0;
         
//      }
//      #header #top-bar .login-register ul.nav.nav-pills.justify-content-end.nav-reg.ml-auto.faq-reg-log{display: none;}
     
//      #header{
//          .nav-color2{display: none;}
//          .nav-color{ .mobile{display:block}}
//          #navbar .navbar{
//              padding:10px 15px;
//              // border-top: 2px solid rgb(230, 230, 230);
//              .navbar-brand{img{width: 100px;}}
//              .navbar-toggler{padding:0}
//              ul.navbar-nav{
//                  // border-top: 1px solid #aaa;padding-top:10px;
//                  // li:first-child{border-top: 1px solid #aaa;padding-top:10px;}
//                  a{padding:0;font-size: 14px;}
//                  a:first-child{padding-top:10px;}
//              }
//          }
//      }//#header
 
//  // ----------------------------------------------------------------
//  //         HOME
//  // ----------------------------------------------------------------
//  //slider
//  .mycourasel .carousel-control-prev, .mycourasel .carousel-control-next {
//      width: 10% !important; }
//    .mycourasel .carousel-control-prev .fa-arrow-left, .mycourasel .carousel-control-next .fa-arrow-right {
//      padding: 5px 5px;
//  }
 
   
//    #home-about-page {
   
//      padding-top: 30px;
//      padding-bottom: 30px; 
 
//      #my-video{
//          margin-bottom:20px
//      }
//      .info {
//            margin-top: 30px; 
//            h2 {
//                  font-size: 20px;
//                  text-align:center;
//               } 
//             p{font-size:15px; text-align:justify}
//             a.btn.bttn-stretch.bttn-md.bttn-primary {         
//             padding: 5px 0;
//             margin-top: -5px; 
//             display:block;
//             text-align:center;
//             font-size:16px;
//            }
//          }
//  }
 
    
 
//        // ---------------- our services  -----------------------------------------
 
 
//        .home-services{
//          padding: 30px 0;
//          position: static;
//          margin-top:0px;
         
//          .home-services-img{
//              position: static;
//              top: 0px;
//          }
         
         
//          .home-services-content{
//              width: 100%;
//              margin: 0;
//              .home-services-content-title{
//                  margin-bottom: 60px;
//                  h2{
//                      font-size: 20px;
//                      text-align: center
//                      }
//                  h4{
//                      font-size: 1rem;
//                      line-height: 25.4px;
//                      margin-bottom: 24px;
//                      text-align: center
//                      }
//                  p{
//                      font-size: 15px;
//                      text-align: justify;
//                      line-height: 25px;
//                  }
//              }
//              .home-services-content-msg{
//                  .list{
//                         display: flex;
//                         margin: 0 auto 25px auto;
//                         align-items: baseline;
//                         width: 60%;
                     
//                      .icon{margin-right: 10px;
//                          img{width: 20px}
//                      }
//                      .list-msg{
//                          h4{
                            
//                              font-size: 16px;
//                              margin-bottom: 0px
//                          }
//                          a{
                            
//                              font-size: 15px
//                          }
//                      }
//                  }
//              }
//          }
            
//      }
   
//    //=============================================
//              //footer
//    //-------------------------------------
 
//    .get-started{
//      padding: 25px 0;
//      text-align: center;
//      .head{
//          margin-bottom: 20px;
//          h2{
             
//              font-size: 18px
//          }
//      }
//    }
 
 
 
//    #footer .footer-main {
//     padding: 30px 0px 30px; }
//     #footer .footer-main .company-logo {
//       margin-bottom: 30px;
//         display: block;
//         text-align: center;
//         // margin: auto;
// }
   
    
     
//     #footer .footer-main .main-footer h5 {
//      margin-top: 15px;
//       font-size: 16px;
//         text-align: center 
    
// }
//     #footer .footer-main .main-footer .abt a {
//        padding-left: 0;
//         padding: 3px;
//         text-align: justify;
//         text-align: center
// }
      
//     #footer .footer-main .main-footer4 {
//         text-align: justify
//       }
//       #footer .footer-main .main-footer4 .footer-contact {
//         display: flex;
//         margin-bottom: 7px;
//           justify-content: center
// }
//         #footer .footer-main .main-footer4 .footer-contact .fa {
        
//           margin-right: 8px;
//           margin-top: 5px; }
//         #footer .footer-main .main-footer4 .footer-contact span {
//           font-size: 14px; }
//   #footer .copyright-color {
   
//     padding: 15px; }
//     #footer .copyright-color .copyright {
//       text-align: center;
//       }
//   #footer .btn-back-to-top {
//     position: fixed;
//     bottom: 10px;
//     right: 30px;
//     background-color: transparent;
  
//     box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
//     width: 40px;
//     height: 40px;
//     border-radius: 0;
//     font-size: 24px;
//     line-height: 24px;
//     text-align: center;
//    transition-duration: 500ms;
//     display: none; }
 
 







// }//end  max500

// //-----------------------------------------------------------------------------
// // ============================================================================
// //      400 - 300
// // ============================================================================
// //-----------------------------------------------------------------------------

// @media screen and (max-width: 498px) and (min-width: 300px)  {
    
//     #header #top-bar .container{
//        padding-right: 0px;
//        padding-left: 0px; 
//     }
//     ul.nav.nav-pills.nav-lang.language{
//      width: 50%   
//     }
//      ul.nav.nav-pills.nav-lang.language li{font-size: 14px}
//         ul.nav.nav-pills.nav-lang.language li select{width: 100%}
//         #header #top-bar a {
//         font-size: 14px;
//         padding: 0;
        
//     }
//     #header #top-bar .login-register ul.nav.nav-pills.justify-content-end.nav-reg.ml-auto.faq-reg-log{display: none;}
    
//     #header{
//         .nav-color2{display: none;}
//         .nav-color{ .mobile{display:block}}
//         #navbar .navbar{
//             padding:10px 15px;
//             // border-top: 2px solid rgb(230, 230, 230);
//             .navbar-brand{img{width: 100px;}}
//             .navbar-toggler{padding:0}
//             ul.navbar-nav{
//                 // border-top: 1px solid #aaa;padding-top:10px;
//                 // li:first-child{border-top: 1px solid #aaa;padding-top:10px;}
//                 a{padding:0;font-size: 14px;}
//                 a:first-child{padding-top:10px;}
//             }
//         }
//     }//#header

// // ----------------------------------------------------------------
// //         HOME
// // ----------------------------------------------------------------
// //slider
// .mycourasel .carousel-control-prev, .mycourasel .carousel-control-next {
//     width: 10% !important; }
//   .mycourasel .carousel-control-prev .fa-arrow-left, .mycourasel .carousel-control-next .fa-arrow-right {
//     padding: 5px 5px;
// }

  
//   #home-about-page {
  
//     padding-top: 30px;
//     padding-bottom: 30px; 

//     #my-video{
//         margin-bottom:20px
//     }
//     .info {
//           margin-top: 30px; 
//           h2 {
//                 font-size: 20px;
//                 text-align:center;
//              } 
//            p{font-size:15px; text-align:justify}
//            a.btn.bttn-stretch.bttn-md.bttn-primary {         
//            padding: 5px 0;
//            margin-top: -5px; 
//            display:block;
//            text-align:center;
//            font-size:16px;
//           }
//         }
// }

   

//       // ---------------- our services  -----------------------------------------


//       .home-services{
//         padding: 30px 0;
//         position: static;
//         margin-top:0px;
        
//         .home-services-img{
//             position: static;
//             top: 0px;
//         }
        
        
//         .home-services-content{
//             width: 100%;
//             margin: 0;
//             .home-services-content-title{
//                 margin-bottom: 60px;
//                 h2{
//                     font-size: 20px;
//                     text-align: center
//                     }
//                 h4{
//                     font-size: 1rem;
//                     line-height: 25.4px;
//                     margin-bottom: 24px;
//                     text-align: center
//                     }
//                 p{
//                     font-size: 15px;
//                     text-align: justify;
//                     line-height: 25px;
//                 }
//             }
//             .home-services-content-msg{
//                 .list{
//                     display: flex;
//                     margin-bottom: 25px;
//                     align-items: baseline;
//                     .icon{margin-right: 10px;
//                         img{width: 20px}
//                     }
//                     .list-msg{
//                         h4{
                           
//                             font-size: 16px;
//                             margin-bottom: 0px
//                         }
//                         a{
                           
//                             font-size: 15px
//                         }
//                     }
//                 }
//             }
//         }
           
//     }
  
//   //=============================================
//             //footer
//   //-------------------------------------

//   .get-started{
//     padding: 25px 0;
//     text-align: center;
//     .head{
//         margin-bottom: 20px;
//         h2{
            
//             font-size: 18px
//         }
//     }
//   }






      

// }//////////498-300