
/* ============================================================================================================================== */
                      /* HERO SECTION */
/* ============================================================================================================================= */
/* ====================================================================== */
hero{
  background: rgb(77,58,58);
}

.inner-hero{
background: #eee;
width: 100%;
height: 90vh;

border-top-left-radius:     290px 290px;
display: flex;
justify-content: center;
align-items: center;
  .container-fluid{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
      .row{
           height: 100%;
           width: 100%;
           display: flex;
            justify-content: center;
            align-items: center;  
            margin-left: 0;
            margin-right: 0;
            .col-md-7{
               height: 100%;
               width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;  
               padding-right: 0;
               padding-left: 0;
                
                .hero-left{
                       height: 100%;
                           width: 100%;
                         display: flex;

                        justify-content: center;
                        align-items: center;
                         // background: rgb(114, 95, 199) url("../img/home/mark-01.png") no-repeat right top;
                            background: rgb(114, 95, 199) url("../img/home/mark-01.png") no-repeat center center ;
                            -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                        border-top-left-radius:     290px 290px;

                        border-bottom-right-radius: 450px 500px;
                              /* border-top-right-radius:    1em 3em; */
                      /*     border-bottom-left-radius:  1em 3em; */
                           .content{
                              width: 70%;
                               h1{
                                font-family: 'julius_sans_oneregular', sans-serif;
                                color: #e2dddd;
                                font-size: 50px;
                                margin-bottom: 30px;
                                line-height: 55px; 
                              }//h1
                               p{
                                     font-family: 'julius_sans_oneregular', sans-serif;
                                     color: #aaa;
                                     padding: 5px;
                                      font-size: 32px;
                                      margin-bottom: 0px
                                  }//p
                                a{
                                  font-family: 'julius_sans_oneregular', sans-serif;
                                  color: #000;
                                  background: #f5efef;
                                  padding: 5px;
                                  margin-left: 6px;
                                  margin-top: 20px;
                                  display: block;
                                  text-align: center;
                                  width: 20%;
                                  }//a


                            }//content
                      }//hero-left

                
             }//col-md-7
             .col-md-5{
              height:100%;
              width: 100%; 
              padding: 0;
              .img-container{
                height:100%;
                width: 100%; 
                padding: 40px;
                position: relative;
                svg{
                  width: 90%;
                  position: absolute;
                  left: -110px;
                  top: 50px;
               } //.img-container
             }//img
          }//col-md-5

      }//row
      
  }//container-fluid
  
}//inner-hero


// ===========================================================================================================================
//                                             SLIDE SHOWS SECTION
// ===========================================================================================================================


/* ============= slideshow ============== */
.second .item{ 
  width:90%; 
  // height:50%; 
  // background:pink;
  margin:0px}
.item{
  // border:2px solid #aaa;
display: block;
/* background: #f88; */
/* padding: 100px 40px; */
// border: 2px solid #aaa;
// font-family:arial;
font-family: 'Raleway', sans-serif;
}
.slideshows{
  padding-top:150px;
  padding-bottom: 100px; 
  }
  .slideshows .slideshows-text-col{
  display: flex;
   justify-content:center;
  align-items: center; 
     // width: 100%;
  }
  
  .slideshows .slideshows-text{
  width: 80%;
  
  }
  
  .slideshows .slideshows-text h2{
  font-family: 'julius_sans_oneregular', sans-serif!important;
  color: #3c3a3a;
  font-size: 24px;
  // color:rgb(255,0,218)
  }
  
  .slideshows .slideshows-text p{
    font-family: 'Raleway', sans-serif;
  }
  .slideshows .slideshows-text .slideshows-btn{
  background: rgb(255,0,218);
  color: white;
  }
  .slideshows .slideshows-text .slideshows-btn:hover{
  transition: all ease .9s;
  background: rgb(113,2,97);
  }
  



// ==============================================================================================================
//                           LATEST PROJECT SECTION
// ==============================================================================================================



.latest-projects{
  background:#eee;
  padding-top: 50px; 
  .latest-projects-title{
    padding: 35px 50px 35px;
    border: 1px solid rgb(192,191,191);
    border-bottom: none;
    width: 36%;
      h5{
      text-transform: uppercase;
     font-family: 'julius_sans_oneregular', sans-serif!important;
      
    } 
  } 
}


.latest-projects-image{
    padding-bottom: 120px;
    .container-fluid{
        padding: 0;
        .row{
          margin-right: 0;
            .col-md-7{
                .latest-projects-image-img{
                    img{}
                }
            }//col-md-7

            .col-md-5 .latest-projects-image{
              &-content{
                  // border: solid 1px #fffdfd;
                  padding: 120px 50px;
                  position: absolute;
                  top: 25%;
                  width: 70%;
                  font-family: 'julius_sans_oneregular', sans-serif!important;
                   overflow: hidden;
                  h2{
                      
                      color: #3c3a3a;
                      font-size: 20px;
                      font-weight: 300;
                      text-align: center
                  }
                  p{line-height: 24px;text-align: center}
                  
                  &.right{
                     position: absolute;
                      left: -15px;
                      border-left: none;
                      &.last{
                          padding: 80px 50px;
                      }
                  }
                  &.left{
                     position: absolute;
                      right: -15px;
                      border-right: none; 
                            padding: 80px 50px;
                  }
              }
              
}//col-md-5 .latest-projects-image
//col-md-5 .latest-projects-image /////animation/////////

.col-md-5 .latest-projects-image-content.right span{
        display:block;
        background: #d7d6d6;
        transition: 10.6s
    }

.col-md-5 .latest-projects-image-content.right span:nth-child(1),
.col-md-5 .latest-projects-image-content.right span:nth-child(3){ 
    position: absolute;
    height: 2px;
    width: 100%;
}
   
.col-md-5 .latest-projects-image-content.right span:nth-child(2)
{ 
    position: absolute;
    height: 100%;
    width: 2px;
}



[data-aos="anim-right1"]{
    top:0;
    left: -100%;
    transition-delay:4s;
    transition-duration: 4s;
}
[data-aos="anim-right2"]{
    top:-100%; 
    right: 0%;
    transition-delay:6s;
       transition-duration: 4s;
}
[data-aos="anim-right3"]{
    bottom:0;
    right: -100%;
    transition-delay:8s;
       transition-duration: 4s;
}


[data-aos="anim-right1"].aos-animate{
    top:0;
    left: 0
}
[data-aos="anim-right2"].aos-animate{
    top:0;
    right: 0%
}
[data-aos="anim-right3"].aos-animate{
    bottom:0;
    right: 0
}
// ====================================================

.col-md-5 .latest-projects-image-content.left span{
        display:block;
        background: #d7d6d6;
        transition: 10.6s
    }

.col-md-5 .latest-projects-image-content.left span:nth-child(1),
.col-md-5 .latest-projects-image-content.left span:nth-child(3)
{ 
    position: absolute;
    height: 2px;
    width: 100%;
}
.col-md-5 .latest-projects-image-content.left span:nth-child(4)
{ 
    position: absolute;
    height: 100%;
    width: 2px;
}


[data-aos="anim-left1"]{
    top:0;
    left: -100%;
    transition-delay:0s;
    transition-duration: 2s;
}

[data-aos="anim-left3"]{
    bottom:0;
    right: -100%;
    transition-delay:2s;
}
[data-aos="anim-left4"]{
 bottom:-100%;
    left: 0%;
    transition-delay:3s;
}



[data-aos="anim-left1"].aos-animate{
   top:0;
    left: 0
}

[data-aos="anim-left3"].aos-animate{
    bottom:0;
    right: 0
}
[data-aos="anim-left4"].aos-animate{
     bottom:0;
    left: 0%
}

           



        }//row
    }//container-fluid
   
}//latest-projecct-image

.latest-projects-image.last{
     padding-bottom: 100px;
}
// .latest-projects-footer-title{
//     text-align: center;
//         padding:40px;
//         font-family: 'Raleway', sans-serif;
// }
// ---------------------------------------------------------

.we-are-commited{
  padding: 120px;
  &-content{
      width: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h5{
        font-family: 'julius_sans_oneregular', sans-serif;
          text-transform: uppercase;
          font-size: 25px;
              font-weight: 3
      }
      p{
          padding-top: 10px;
          line-height: 24px;
          font-family: 'Raleway', sans-serif;
              
      }
  }  
      
}

// =======================================================
                       //  OUR PARTNERS
// ==========================================================

.our-partners{
  padding: 100px;
    background: #eee;
    
  &-content{
     margin: auto; 
      width: 70%;
      margin-bottom: 60px;
      
      h5{
          font-family: 'julius_sans_oneregular', sans-serif;
          text-transform: uppercase;
          font-size: 25px;
          text-align: center
          // font-weight: 500;
      }
      p{
          width: 66%;
          padding-top: 10px;
          line-height: 24px; 
          margin: auto;
              text-align: center;
              font-family: 'Raleway', sans-serif;    
      }
  }//content 
    

 .we-are-commited-img {
  // height: 100%;
}
 .we-are-commited-img .we-are-commited-img-slide .item .name-pic .pics {
  padding-right: 20px;
}
 .we-are-commited-img .we-are-commited-img-slide .item .name-pic .pics:first-child {
  padding-left: 20px;
}
     .we-are-commited-img .we-are-commited-img-slide .item .name-pic .pics img {
  opacity: 0.6;
  -webkit-filter: blur(2px) brightness(0%);
  transition: all 0.9s ease;
}
 .we-are-commited-img .we-are-commited-img-slide .owl-item.active.center .item .name-pic .pics img {
  opacity: 1;
  -webkit-filter: blur(0) brightness(100%);
  transition: all 0.9s ease;
}
    
//  .we-are-commited-img .we-are-commited-img-slide .item .name-pic .pics img {
//   opacity: 0.6;
//   -webkit-filter: grayscale(100%) brightness(0%);
//   transition: all 0.9s ease;
// }
//  .we-are-commited-img .we-are-commited-img-slide .owl-item.active.center .item .name-pic .pics img {
//   opacity: 1;
//   -webkit-filter: grayscale(0%) brightness(100%);
//   transition: all 0.9s ease;
// }
        
}//our-partners










  
// --------------------------------------------------------
// =======================================================
//     services max 400  RESPOSIVE CODE
// ============================================================
// --------------------------------------------------------
@media screen and (max-width: 400px) /* Mobile */ {


  
}