/* ============================================================================================================================== */
/* HERO SECTION */
/* ============================================================================================================================= */
/* ====================================================================== */
hero {
  background: #4d3a3a; }

.inner-hero {
  background: #eee;
  width: 100%;
  height: 90vh;
  border-top-left-radius: 290px 290px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .inner-hero .container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    padding-left: 0; }
    .inner-hero .container-fluid .row {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      margin-right: 0; }
      .inner-hero .container-fluid .row .col-md-7 {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        padding-left: 0; }
        .inner-hero .container-fluid .row .col-md-7 .hero-left {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #725fc7 url("../img/home/mark-01.png") no-repeat center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          border-top-left-radius: 290px 290px;
          border-bottom-right-radius: 450px 500px;
          /* border-top-right-radius:    1em 3em; */
          /*     border-bottom-left-radius:  1em 3em; */ }
          .inner-hero .container-fluid .row .col-md-7 .hero-left .content {
            width: 70%; }
            .inner-hero .container-fluid .row .col-md-7 .hero-left .content h1 {
              font-family: 'julius_sans_oneregular', sans-serif;
              color: #e2dddd;
              font-size: 50px;
              margin-bottom: 30px;
              line-height: 55px; }
            .inner-hero .container-fluid .row .col-md-7 .hero-left .content p {
              font-family: 'julius_sans_oneregular', sans-serif;
              color: #aaa;
              padding: 5px;
              font-size: 32px;
              margin-bottom: 0px; }
            .inner-hero .container-fluid .row .col-md-7 .hero-left .content a {
              font-family: 'julius_sans_oneregular', sans-serif;
              color: #000;
              background: #f5efef;
              padding: 5px;
              margin-left: 6px;
              margin-top: 20px;
              display: block;
              text-align: center;
              width: 20%; }
      .inner-hero .container-fluid .row .col-md-5 {
        height: 100%;
        width: 100%;
        padding: 0; }
        .inner-hero .container-fluid .row .col-md-5 .img-container {
          height: 100%;
          width: 100%;
          padding: 40px;
          position: relative; }
          .inner-hero .container-fluid .row .col-md-5 .img-container svg {
            width: 90%;
            position: absolute;
            left: -110px;
            top: 50px; }

/* ============= slideshow ============== */
.second .item {
  width: 90%;
  margin: 0px; }

.item {
  display: block;
  /* background: #f88; */
  /* padding: 100px 40px; */
  font-family: 'Raleway', sans-serif; }

.slideshows {
  padding-top: 150px;
  padding-bottom: 100px; }

.slideshows .slideshows-text-col {
  display: flex;
  justify-content: center;
  align-items: center; }

.slideshows .slideshows-text {
  width: 80%; }

.slideshows .slideshows-text h2 {
  font-family: "julius_sans_oneregular", sans-serif !important;
  color: #3c3a3a;
  font-size: 24px; }

.slideshows .slideshows-text p {
  font-family: 'Raleway', sans-serif; }

.slideshows .slideshows-text .slideshows-btn {
  background: #ff00da;
  color: white; }

.slideshows .slideshows-text .slideshows-btn:hover {
  transition: all ease .9s;
  background: #710261; }

.latest-projects {
  background: #eee;
  padding-top: 50px; }
  .latest-projects .latest-projects-title {
    padding: 35px 50px 35px;
    border: 1px solid #c0bfbf;
    border-bottom: none;
    width: 36%; }
    .latest-projects .latest-projects-title h5 {
      text-transform: uppercase;
      font-family: "julius_sans_oneregular", sans-serif !important; }

.latest-projects-image {
  padding-bottom: 120px; }
  .latest-projects-image .container-fluid {
    padding: 0; }
    .latest-projects-image .container-fluid .row {
      margin-right: 0; }
      .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content {
        padding: 120px 50px;
        position: absolute;
        top: 25%;
        width: 70%;
        font-family: "julius_sans_oneregular", sans-serif !important;
        overflow: hidden; }
        .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content h2 {
          color: #3c3a3a;
          font-size: 20px;
          font-weight: 300;
          text-align: center; }
        .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content p {
          line-height: 24px;
          text-align: center; }
        .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right {
          position: absolute;
          left: -15px;
          border-left: none; }
          .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right.last {
            padding: 80px 50px; }
        .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.left {
          position: absolute;
          right: -15px;
          border-right: none;
          padding: 80px 50px; }
      .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right span {
        display: block;
        background: #d7d6d6;
        transition: 10.6s; }
      .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right span:nth-child(1),
      .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right span:nth-child(3) {
        position: absolute;
        height: 2px;
        width: 100%; }
      .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.right span:nth-child(2) {
        position: absolute;
        height: 100%;
        width: 2px; }
      .latest-projects-image .container-fluid .row [data-aos="anim-right1"] {
        top: 0;
        left: -100%;
        transition-delay: 4s;
        transition-duration: 4s; }
      .latest-projects-image .container-fluid .row [data-aos="anim-right2"] {
        top: -100%;
        right: 0%;
        transition-delay: 6s;
        transition-duration: 4s; }
      .latest-projects-image .container-fluid .row [data-aos="anim-right3"] {
        bottom: 0;
        right: -100%;
        transition-delay: 8s;
        transition-duration: 4s; }
      .latest-projects-image .container-fluid .row [data-aos="anim-right1"].aos-animate {
        top: 0;
        left: 0; }
      .latest-projects-image .container-fluid .row [data-aos="anim-right2"].aos-animate {
        top: 0;
        right: 0%; }
      .latest-projects-image .container-fluid .row [data-aos="anim-right3"].aos-animate {
        bottom: 0;
        right: 0; }
      .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.left span {
        display: block;
        background: #d7d6d6;
        transition: 10.6s; }
      .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.left span:nth-child(1),
      .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.left span:nth-child(3) {
        position: absolute;
        height: 2px;
        width: 100%; }
      .latest-projects-image .container-fluid .row .col-md-5 .latest-projects-image-content.left span:nth-child(4) {
        position: absolute;
        height: 100%;
        width: 2px; }
      .latest-projects-image .container-fluid .row [data-aos="anim-left1"] {
        top: 0;
        left: -100%;
        transition-delay: 0s;
        transition-duration: 2s; }
      .latest-projects-image .container-fluid .row [data-aos="anim-left3"] {
        bottom: 0;
        right: -100%;
        transition-delay: 2s; }
      .latest-projects-image .container-fluid .row [data-aos="anim-left4"] {
        bottom: -100%;
        left: 0%;
        transition-delay: 3s; }
      .latest-projects-image .container-fluid .row [data-aos="anim-left1"].aos-animate {
        top: 0;
        left: 0; }
      .latest-projects-image .container-fluid .row [data-aos="anim-left3"].aos-animate {
        bottom: 0;
        right: 0; }
      .latest-projects-image .container-fluid .row [data-aos="anim-left4"].aos-animate {
        bottom: 0;
        left: 0%; }

.latest-projects-image.last {
  padding-bottom: 100px; }

.we-are-commited {
  padding: 120px; }
  .we-are-commited-content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .we-are-commited-content h5 {
      font-family: 'julius_sans_oneregular', sans-serif;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 3; }
    .we-are-commited-content p {
      padding-top: 10px;
      line-height: 24px;
      font-family: 'Raleway', sans-serif; }

.our-partners {
  padding: 100px;
  background: #eee; }
  .our-partners-content {
    margin: auto;
    width: 70%;
    margin-bottom: 60px; }
    .our-partners-content h5 {
      font-family: 'julius_sans_oneregular', sans-serif;
      text-transform: uppercase;
      font-size: 25px;
      text-align: center; }
    .our-partners-content p {
      width: 66%;
      padding-top: 10px;
      line-height: 24px;
      margin: auto;
      text-align: center;
      font-family: 'Raleway', sans-serif; }
  .our-partners .we-are-commited-img .we-are-commited-img-slide .item .name-pic .pics {
    padding-right: 20px; }
  .our-partners .we-are-commited-img .we-are-commited-img-slide .item .name-pic .pics:first-child {
    padding-left: 20px; }
  .our-partners .we-are-commited-img .we-are-commited-img-slide .item .name-pic .pics img {
    opacity: 0.6;
    -webkit-filter: blur(2px) brightness(0%);
    transition: all 0.9s ease; }
  .our-partners .we-are-commited-img .we-are-commited-img-slide .owl-item.active.center .item .name-pic .pics img {
    opacity: 1;
    -webkit-filter: blur(0) brightness(100%);
    transition: all 0.9s ease; }

/*# sourceMappingURL=home.css.map */
