
.section-titl{
    padding: 100px 0 10px 0;
      background:#eee;
    .content{
        text-align: center;
        width: 50%;
        margin: auto;
         .underscore{width:30%;height: 1px;border-radius: 50%;
           background: linear-gradient(to right, #777777,#494949,#282828,#494949,#777777);
          margin:25px auto 0 auto}
    }
}

.iv-exclusive-section.section-8-4{
    padding: 100px;
    background:#eee;
    .container-fluid{
        .row{  
            .col-md-4{
                padding-left: 0;
                padding-right: 0;
                .content{
                    padding-right: 40px;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .container-wrap{
                         width: 80%;
                        text-align: right;
                        .title{
                            background: red;
                            display: inline-block;
                            padding: 15px;
                            color: white;
                            margin-bottom: 30px;
                            h4{font-size: 50px;margin-bottom: 0;line-height: 40px;font-weight: 900}
                            p{margin-bottom: 0;line-height: 20px}
                        }//title
                        a.btn{border-radius: 0; border: 1px solid red;color: red}
                    }//container-wrap
                }//content
            }//col-md-4
             .col-md-8{
                padding-left: 0;
                padding-right: 0;
            }//col-md-8
        }//row
    }//.container-fluid
}//.iv-exclusive-section

.iv-exclusive-section.section-4-8{
    padding: 100px;
    // &.last{padding-bottom: 0}
    .container-fluid{
        .row{  
            .col-md-4{
                padding-left: 0;
                padding-right: 0;
                .content{
                    padding-left: 40px;
                    height: 100%;
                    display: flex;
                    // justify-content: flex-start;
                    align-items: center;
                    .container-wrap{
                         width: 80%;
                        text-align: left;
                        .title{
                            background: red;
                            display: inline-block;
                            padding: 15px;
                            color: white;
                            margin-bottom: 30px;
                            h4{font-size: 50px;margin-bottom: 0;line-height: 40px;font-weight: 900}
                            p{margin-bottom: 0;line-height: 20px}
                        }//title
                        a.btn{border-radius: 0; border: 1px solid red;color: red}
                    }//container-wrap
                }//content
            }//col-md-4
             .col-md-8{
                padding-left: 0;
                padding-right: 0;
            }//col-md-8
        }//row
    }//.container-fluid
}//.iv-exclusive-section
// ---------------------------------------------------------------------------------

.section-features{
padding:100px;
    background: #eee;
.content-title{
    display: flex;margin-bottom: 50px;
    align-items: baseline;
    h3{background: #0d1120;color: #fff;padding: 10px 35px;margin-bottom: 0}
    span{background: rgb(200,122,5);width: 15px;height: 15px;margin-left: 10px;align-self: flex-end}
    }//.content-title
    .col-md-4{
        .content{
            h3{margin-bottom: 20px}
            p{width: 80%}
        }//content
    }//col-md-4  
    
}//.section-features



