.section-titl {
  padding: 100px 0 10px 0;
  background: #eee; }
  .section-titl .content {
    text-align: center;
    width: 50%;
    margin: auto; }
    .section-titl .content .underscore {
      width: 30%;
      height: 1px;
      border-radius: 50%;
      background: linear-gradient(to right, #777777, #494949, #282828, #494949, #777777);
      margin: 25px auto 0 auto; }

.iv-exclusive-section.section-8-4 {
  padding: 100px;
  background: #eee; }
  .iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 {
    padding-left: 0;
    padding-right: 0; }
    .iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content {
      padding-right: 40px;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content .container-wrap {
        width: 80%;
        text-align: right; }
        .iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content .container-wrap .title {
          background: red;
          display: inline-block;
          padding: 15px;
          color: white;
          margin-bottom: 30px; }
          .iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content .container-wrap .title h4 {
            font-size: 50px;
            margin-bottom: 0;
            line-height: 40px;
            font-weight: 900; }
          .iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content .container-wrap .title p {
            margin-bottom: 0;
            line-height: 20px; }
        .iv-exclusive-section.section-8-4 .container-fluid .row .col-md-4 .content .container-wrap a.btn {
          border-radius: 0;
          border: 1px solid red;
          color: red; }
  .iv-exclusive-section.section-8-4 .container-fluid .row .col-md-8 {
    padding-left: 0;
    padding-right: 0; }

.iv-exclusive-section.section-4-8 {
  padding: 100px; }
  .iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 {
    padding-left: 0;
    padding-right: 0; }
    .iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content {
      padding-left: 40px;
      height: 100%;
      display: flex;
      align-items: center; }
      .iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content .container-wrap {
        width: 80%;
        text-align: left; }
        .iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content .container-wrap .title {
          background: red;
          display: inline-block;
          padding: 15px;
          color: white;
          margin-bottom: 30px; }
          .iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content .container-wrap .title h4 {
            font-size: 50px;
            margin-bottom: 0;
            line-height: 40px;
            font-weight: 900; }
          .iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content .container-wrap .title p {
            margin-bottom: 0;
            line-height: 20px; }
        .iv-exclusive-section.section-4-8 .container-fluid .row .col-md-4 .content .container-wrap a.btn {
          border-radius: 0;
          border: 1px solid red;
          color: red; }
  .iv-exclusive-section.section-4-8 .container-fluid .row .col-md-8 {
    padding-left: 0;
    padding-right: 0; }

.section-features {
  padding: 100px;
  background: #eee; }
  .section-features .content-title {
    display: flex;
    margin-bottom: 50px;
    align-items: baseline; }
    .section-features .content-title h3 {
      background: #0d1120;
      color: #fff;
      padding: 10px 35px;
      margin-bottom: 0; }
    .section-features .content-title span {
      background: #c87a05;
      width: 15px;
      height: 15px;
      margin-left: 10px;
      align-self: flex-end; }
  .section-features .col-md-4 .content h3 {
    margin-bottom: 20px; }
  .section-features .col-md-4 .content p {
    width: 80%; }

/*# sourceMappingURL=iv-exclusive.css.map */
