#iv-graphics-bg {
  width: 100%;
  height: 70vh; }
  #iv-graphics-bg .container-fluid {
    height: 100%; }
    #iv-graphics-bg .container-fluid .row {
      height: 100%; }
      #iv-graphics-bg .container-fluid .row .col-md-6.left {
        background: #eee;
        padding-right: 0;
        padding-left: 100px; }
        #iv-graphics-bg .container-fluid .row .col-md-6.left .contain-top img {
          width: 130px;
          padding-top: 20px; }
        #iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down {
          height: 90%;
          display: flex;
          align-items: center; }
          #iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down .content-wrap {
            width: 80%; }
            #iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down .content-wrap h2 {
              font-size: 30px; }
            #iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down .content-wrap h2.top span {
              background: #4f469c;
              color: white;
              padding: 5px; }
            #iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down .content-wrap h2.down {
              color: #4f469c; }
            #iv-graphics-bg .container-fluid .row .col-md-6.left .contain-down .content-wrap p {
              width: 75%;
              padding-top: 10px; }
      #iv-graphics-bg .container-fluid .row .col-md-6.right {
        padding-right: 0;
        padding-left: 0;
        background: #4f469c; }
        #iv-graphics-bg .container-fluid .row .col-md-6.right .contain-top {
          display: flex;
          justify-content: flex-end; }
          #iv-graphics-bg .container-fluid .row .col-md-6.right .contain-top h3 {
            color: white;
            height: 10%;
            padding: 20px 100px 0 0;
            font-size: 20px; }
          #iv-graphics-bg .container-fluid .row .col-md-6.right .contain-top a {
            color: #afacac; }
        #iv-graphics-bg .container-fluid .row .col-md-6.right .contain-down {
          height: 90%;
          display: flex;
          justify-content: center;
          align-items: center; }
          #iv-graphics-bg .container-fluid .row .col-md-6.right .contain-down .content-wrap {
            width: 100%;
            text-align: center; }
            #iv-graphics-bg .container-fluid .row .col-md-6.right .contain-down .content-wrap h2 {
              font-size: 60px;
              color: #b6b6b7; }

.section-our-expertise {
  padding: 100px;
  text-align: center; }
  .section-our-expertise h3 {
    font-size: 35px; }
  .section-our-expertise p {
    width: 70%;
    margin: 15px auto; }

.section-a .section-main {
  padding: 60px; }
  .section-a .section-main .container {
    height: 100%; }
    .section-a .section-main .container .row {
      height: 100%; }
      .section-a .section-main .container .row .col-md-6.heading .content {
        display: flex;
        height: 100%; }
        .section-a .section-main .container .row .col-md-6.heading .content .content-wrap {
          align-self: center; }
          .section-a .section-main .container .row .col-md-6.heading .content .content-wrap h3 {
            font-size: 40px;
            color: #4f469c; }
      .section-a .section-main .container .row .col-md-6.text {
        height: 100%; }
        .section-a .section-main .container .row .col-md-6.text .content {
          height: 100%;
          background: #4f469c; }
          .section-a .section-main .container .row .col-md-6.text .content .content-wrap {
            padding: 80px; }
            .section-a .section-main .container .row .col-md-6.text .content .content-wrap p {
              color: white; }
.section-a section.img .col-md-12 {
  padding: 0; }

/*# sourceMappingURL=iv-graphics.css.map */
