#iv-graphics-bg{
    width: 100%;
    height: 70vh;
    .container-fluid{
      height: 100%; 
        .row{
             height: 100%; 
               .col-md-6.left{
                   background: #eee;
                  padding-right: 0;
                  padding-left: 100px;
                  .contain-top{
                      img{width: 130px;padding-top: 20px}
                  }
                   .contain-down{
                  height: 90%;
                  display: flex;
                  // justify-content: center;
                  align-items: center;
                  .content-wrap{
                      width: 80%;
                      // text-align: center;
                      h2{font-size: 30px;}
                      h2.top span{background: #4f469c;color: white;padding: 5px}
                      h2.down{color: #4f469c}
                      p{width: 75%;padding-top: 10px}
                  }
              }
              }//col-md-4
            .col-md-6.right{
                 padding-right: 0;
                padding-left:0;
              background: #4f469c;
                .contain-top{
                display: flex;
                  justify-content:flex-end;
                    h3{color: white;height: 10%;padding: 20px 100px 0 0;font-size: 20px}
                    a{color: rgb(175,172,172);}
               }
              .contain-down{
                  height: 90%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .content-wrap{
                      width: 100%;
                      text-align: center;
                      h2{font-size: 60px;color: #b6b6b7}
                  }
              }
              
          }//col-md-8
        }//row
    }//container-fuild
  
  }
////////our expertise ///////////////////
.section-our-expertise{
    padding: 100px;
    text-align: center;
    h3{font-size: 35px }
    p{width: 70%;margin: 15px auto}
}
/////// sections /////////
.section-a{
    .section-main{ 
        padding: 60px;
       
        .container{
             height: 100%;
            .row{
                 height: 100%;
                .col-md-6.heading{
                    .content{
                       display: flex;
                        // justify-content: center;
                        height: 100%;
                        .content-wrap{
                            align-self: center;
                            h3{
                              font-size: 40px;
                                color: #4f469c
                            }
                        }
                    }
                } //col-md-6.text
                .col-md-6.text{
                    height: 100%;
                    .content{
                        height: 100%;
                         background: #4f469c;
                        .content-wrap{
                            
                             padding: 80px;
                            p{
                              color: white;  
                            }
                        }
                    }
                } //col-md-6.heading
            }
        }
    }
    section.img{
        .col-md-12{
            padding: 0;
        }
    }
}

// ============================================================================================
//                    iv graphics work css
// ============================================================================================

.iv-graphics-work.first-section{
    .container-fluid{
        padding: 0;
        overflow: hidden;
        .row{
            .col-md-8{
                padding-left: 0;
                padding-right: 0px;
            }
            .col-md-4{
                padding-left: 0px;
                padding-right: 0;
                .row{
                    
                    .col-md-12.a{
                        .content{
                            background: purple;
                            padding: 105px;
                            text-align: center;
                            h3{color: white;font-size: 53px}
                        }
                    }//.col-md-12.a
                    .col-md-12.b{
                        margin-top: 0px
                    }
                }
            }
        }
    }
}

.iv-graphics-work.second-section{
    margin-top: 2px;
    .container-fluid{
        padding: 0px 0 0px 0;
        overflow: hidden;
        .row{
            .col-md-8{
                padding-left: 0px;
                 // padding-right: 2px;
            }
            .col-md-4{
                padding-right: 2px;
                .row{
                    
                    .col-md-12.a{
                        .content{
                          
                            
                        }
                    }//.col-md-12.a
                    .col-md-12.b{
                        margin-top: 2px
                    }
                }
            }
        }
    }
}

.iv-graphics-work.third-section{
    margin-top: 2px;
    .container-fluid{
        padding:  0;
        overflow: hidden;
        .row{
           
            .col-md-4{
                 &.a{padding-left: 1px;   padding-right: 1px;}
                 &.b{padding-left: 1px;   padding-right: 1px;}
                 &.c{padding-left: 1px;   padding-right: 1px;}
                
            }
        }
    }
}

.iv-graphics-work.fourth-section{
    margin-top: 2px;
    .container-fluid{
        padding: 0px 0 0 0;
        overflow: hidden;
        .row{
                .col-md-4{
                padding-right: 5px;
                .content{
                    height: 100%;
                    #fourth-section-a-svg{  height: 100%;}
                }
            }
            .col-md-8{
                padding-left: 5px;
                 padding-right: 0px;
                   .content{
                       height: 100%;
                       #fourth-section-b-svg{ height: 99%;}
                }
            }
        
        }
    }
}
.iv-graphics-work.fifth-section{
    margin-top: 2px;
    .container-fluid{
        padding:  0;
        overflow: hidden;
        .row{
           
            .col-md-4{
                 &.a{padding-left: 1px;   padding-right: 1px;}
                 &.b{padding-left: 1px;   padding-right: 1px;}
                 &.c{padding-left: 1px;   padding-right: 1px;}
                
            }
        }
    }
}
.iv-graphics-work.sixth-section{
    margin-top: 2px;
    .container-fluid{
        padding: 0px 0 0px 0;
        overflow: hidden;
        .row{
            .col-md-8{
                padding-left: 0px;
            }
            .col-md-4{
                padding-right: 2px;
               
            }
        }
    }
}
.iv-graphics-work.seventh-section{
    margin-top: 2px;
    .container-fluid{
        padding: 0px 0 0px 0;
        overflow: hidden;
        .row{
            .col-md-6.a{
                padding-left: 0px;
            }
            .col-md-6.b{
                padding-right: 2px;
               
            }
        }
    }
}
.iv-graphics-work.eight-section{
    margin-top: 2px;
    .container-fluid{
        padding: 0px 0 0px 0;
        overflow: hidden;
        .row{
            .col-md-8{
                padding-left: 0px;
            }
            .col-md-4{
                padding-right: 2px;
               
            }
        }
    }
}