@font-face {
  font-family: 'julius_sans_oneregular';
  src: url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff2") format("woff2"), url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Regular") format('"trueType"'); }
@font-face {
  font-family: 'Raleway-light';
  src: url("../fonts/raleway/Raleway-Light") format('"trueType"'); }
@font-face {
  font-family: 'julius_sans_oneregular';
  src: url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff2") format("woff2"), url("../fonts/Julius_Sans_One/juliussansone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Regular") format('"trueType"'); }
@font-face {
  font-family: 'Raleway-light';
  src: url("../fonts/raleway/Raleway-Light") format('"trueType"'); }
p {
  font-family: 'Raleway', sans-serif; }

h2, h3, h1, h4, h5, h6 {
  font-family: "julius_sans_oneregular", sans-serif !important; }

#iv-render .iv-render.banner {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/iv-render/bg.jpg") center center fixed no-repeat;
  background-size: cover; }
  #iv-render .iv-render.banner .container.iv-container {
    height: 100%; }
    #iv-render .iv-render.banner .container.iv-container .row.iv-row {
      height: 100%; }
      #iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-sub {
        height: 10%; }
        #iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-sub .sub-menu .logo {
          width: 100%;
          padding: 20px;
          display: flex; }
          #iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-sub .sub-menu .logo span {
            margin-left: auto;
            text-transform: uppercase;
            font-family: "julius_sans_oneregular", sans-serif !important; }
            #iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-sub .sub-menu .logo span a {
              color: #afacac; }
      #iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-content {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center; }
        #iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-content .main-content .content-wrap {
          z-index: 2;
          text-align: center; }
          #iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-content .main-content .content-wrap h3 {
            color: #fff;
            font-size: 45px;
            font-weight: 500;
            margin-bottom: 10px; }
          #iv-render .iv-render.banner .container.iv-container .row.iv-row .col-md-12.iv-content .main-content .content-wrap h2 {
            color: #fff;
            font-size: 55px;
            font-weight: 700; }

.iv-render.category {
  padding: 120px 0 60px 0; }
  .iv-render.category .container-fluid .col-md-4.img-4 {
    padding-left: 0;
    padding-right: 3px; }
    .iv-render.category .container-fluid .col-md-4.img-4 .content .img-content {
      margin-top: 10px;
      margin-left: 5px; }
      .iv-render.category .container-fluid .col-md-4.img-4 .content .img-content h4 {
        margin-bottom: 0;
        font-size: 22px; }
  .iv-render.category .container-fluid .col-md-8.img-8 {
    padding-left: 3px; }
    .iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img1 {
      margin-bottom: 3px;
      padding-right: 0; }
      .iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img1 .content .img-content {
        margin-bottom: 10px; }
        .iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img1 .content .img-content h4 {
          margin-bottom: 0;
          font-size: 22px;
          margin-top: -5px; }
        .iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img1 .content .img-content p {
          margin-bottom: 0; }
    .iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img2 {
      padding-right: 0;
      margin-top: 3px; }
      .iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img2 .content .img-content {
        margin-top: 10px;
        margin-left: 5px; }
        .iv-render.category .container-fluid .col-md-8.img-8 .col-md-12.img-12.img2 .content .img-content h4 {
          margin-bottom: 0;
          font-size: 22px; }

.iv-render.capability {
  background: #282828;
  padding: 100px; }
  .iv-render.capability .heading {
    text-align: center;
    margin-bottom: 60px; }
    .iv-render.capability .heading h2 {
      color: #b6b6b7;
      font-size: 44px;
      margin-bottom: 25px; }
    .iv-render.capability .heading .underscore {
      width: 25%;
      height: 1px;
      background: linear-gradient(to right, #282828, #494949, #777777, #777777, #494949, #282828);
      margin: auto; }
  .iv-render.capability .col-md-4 .content {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; }
    .iv-render.capability .col-md-4 .content .img {
      padding: 10px; }
      .iv-render.capability .col-md-4 .content .img img {
        width: 50px; }
    .iv-render.capability .col-md-4 .content .main-content h4 {
      color: #b6b6b7;
      margin-bottom: 15px; }
    .iv-render.capability .col-md-4 .content .main-content p {
      color: #b6b6b7; }

.iv-render.intuitive {
  padding: 120px 0 0 0; }
  .iv-render.intuitive .heading {
    text-align: center;
    margin-bottom: 60px; }
    .iv-render.intuitive .heading h2 {
      color: #282828;
      font-size: 44px;
      margin-bottom: 25px; }
    .iv-render.intuitive .heading .underscore {
      width: 30%;
      height: 1px;
      border-radius: 50%;
      background: linear-gradient(to right, #777777, #494949, #282828, #494949, #777777);
      margin: auto; }
  .iv-render.intuitive .col-md-5.slider .content {
    height: 100%; }
    .iv-render.intuitive .col-md-5.slider .content .carousel.slide {
      height: 100%; }
      .iv-render.intuitive .col-md-5.slider .content .carousel.slide .carousel-inner {
        height: 100%; }
        .iv-render.intuitive .col-md-5.slider .content .carousel.slide .carousel-inner .carousel-item {
          height: 100%; }
          .iv-render.intuitive .col-md-5.slider .content .carousel.slide .carousel-inner .carousel-item img {
            height: 100%; }
  .iv-render.intuitive button:focus,
  .iv-render.intuitive input:focus,
  .iv-render.intuitive textarea:focus,
  .iv-render.intuitive select:focus {
    outline: none; }
  .iv-render.intuitive .tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; }
  .iv-render.intuitive .tabs [class^="tab"] label,
  .iv-render.intuitive .tabs [class*=" tab"] label {
    color: #38b348;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 10px 0 5px 0;
    text-align: center; }
  .iv-render.intuitive .tabs [class^="tab"] [type="radio"],
  .iv-render.intuitive .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .iv-render.intuitive .tabs [class^="tab"] [type="radio"]:hover, .iv-render.intuitive .tabs [class^="tab"] [type="radio"]:focus,
  .iv-render.intuitive .tabs [class*=" tab"] [type="radio"]:hover,
  .iv-render.intuitive .tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #38b34a; }
  .iv-render.intuitive .tabs [class^="tab"] [type="radio"]:checked,
  .iv-render.intuitive .tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #38b34a; }
  .iv-render.intuitive .tabs [class^="tab"] [type="radio"]:checked + div,
  .iv-render.intuitive .tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1; }
  .iv-render.intuitive .tabs [class^="tab"] [type="radio"] + div,
  .iv-render.intuitive .tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    padding: 10px 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .iv-render.intuitive .tabs .tab-2 {
    width: 30%; }
  .iv-render.intuitive .tabs .tab-2 [type="radio"] + div {
    width: 300%;
    margin-left: 200%; }
  .iv-render.intuitive .tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0%; }
  .iv-render.intuitive .tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0%; }
  .iv-render.intuitive .tabs .tab-2:nth-child(2) [type="radio"]:checked + div {
    margin-left: -100%; }
  .iv-render.intuitive .tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -200%; }
  .iv-render.intuitive .tabs {
    display: flex;
    justify-content: flex-end; }
    .iv-render.intuitive .tabs .col-md-12 .col-md-6 .tab-content {
      text-align: center;
      margin-top: 30px; }
      .iv-render.intuitive .tabs .col-md-12 .col-md-6 .tab-content .icon img {
        width: 50px; }
      .iv-render.intuitive .tabs .col-md-12 .col-md-6 .tab-content .message {
        margin-top: 10px; }
        .iv-render.intuitive .tabs .col-md-12 .col-md-6 .tab-content .message h3 {
          font-size: 16px; }
        .iv-render.intuitive .tabs .col-md-12 .col-md-6 .tab-content .message p {
          font-size: 15px; }

#iv-explore-bg {
  width: 100%;
  height: 70vh; }
  #iv-explore-bg .container-fluid {
    height: 100%; }
    #iv-explore-bg .container-fluid .row {
      height: 100%; }
      #iv-explore-bg .container-fluid .row .col-md-4 {
        padding-right: 0;
        padding-left: 140px; }
        #iv-explore-bg .container-fluid .row .col-md-4 .contain img {
          width: 130px; }
      #iv-explore-bg .container-fluid .row .col-md-8 {
        background: #282828; }
        #iv-explore-bg .container-fluid .row .col-md-8 .contain {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          #iv-explore-bg .container-fluid .row .col-md-8 .contain .content-wrap {
            width: 50%;
            text-align: center; }
            #iv-explore-bg .container-fluid .row .col-md-8 .contain .content-wrap h2 {
              font-size: 60px;
              color: #b6b6b7; }

.iv-explore.box-8-4 .col-md-8.box-8 {
  padding: 0; }
  .iv-explore.box-8-4 .col-md-8.box-8 img {
    width: 100%; }
.iv-explore.box-8-4 .col-md-4.box-4 {
  display: flex;
  justify-content: center;
  align-items: center; }
  .iv-explore.box-8-4 .col-md-4.box-4 .content {
    text-align: center; }
    .iv-explore.box-8-4 .col-md-4.box-4 .content h4 {
      font-size: 20px; }

.load-more {
  padding-top: 100px; }
  .load-more h4 {
    font-size: 20px;
    text-align: center; }
    .load-more h4 .fa {
      color: green;
      font-weight: bold; }

/*# sourceMappingURL=iv-render.css.map */
