@import "../generics/others"; 
@import "../generics/colors";
@import "../generics/headings";




// ------------------------------
    // all pages banners
// -----------------------

#iv-render{
  .iv-render.banner {
       height: 100vh;
       width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/iv-render/bg.jpg") center center fixed no-repeat;
      background-size: cover;
      .container.iv-container{
          height: 100%;
          .row.iv-row{
              height: 100%;
              .col-md-12.iv-sub{
                  height: 10%;
                  .sub-menu{
                      .logo{
                          width: 100%;
                          padding: 20px;
                          display: flex;
                          img{}
                          span{margin-left: auto;text-transform: uppercase;
                         font-family: "julius_sans_oneregular", sans-serif !important;
                         a{color: rgb(175,172,172); }
                        }
                      }//logo    
                    }//sub-menu  
              }//col-md-12.iv-sub
              .col-md-12.iv-content{
                  height: 90%;
                  display: flex;
                       align-items: center;
                       justify-content: center; 
                     .main-content{
                      .content-wrap{
                            z-index: 2;
                            text-align: center;
                          h3{color:#fff;font-size: 45px;font-weight: 500;margin-bottom: 10px }
                            h2{color:#fff;font-size: 55px;font-weight: 700; }
                      }//content-wrap
                    }//.main-content
              }//.col-md-12.iv-content
          }//row.iv-row  
      }//container.iv-container
        
  }//.iv-render.banner

}//#iv-render
// ----------------------------------------------------------------------
//         categories
// --------------------------------------------------------------------------
.iv-render.category{
  padding: 120px 0 60px 0;
  .container-fluid{
      
      .col-md-4.img-4{
          padding-left: 0;
          padding-right: 3px;
          .content{
              
              .img-content{
                  margin-top: 10px;
                  margin-left: 5px;
                  h4{margin-bottom: 0;font-size: 22px}
                  p{}
              }//img-content
          }//content
      }//col-md-4.img-4 
       .col-md-8.img-8{
          padding-left: 3px;
           .col-md-12.img-12.img1{
                margin-bottom: 3px;
                padding-right: 0;
               .content{
              
              .img-content{
                  margin-bottom: 10px;
                  // margin-left: 5px;
                  h4{margin-bottom: 0;font-size: 22px;margin-top:-5px}
                  p{margin-bottom: 0;}
              }//img-content
          }//content
           }//.col-md-12.img-12.img1
           .col-md-12.img-12.img2{
               padding-right: 0;
               margin-top: 3px;
             .content{
              
              .img-content{
                  margin-top: 10px;
                  margin-left: 5px;
                  h4{margin-bottom: 0;font-size: 22px}
                  p{}
              }//img-content
          }//content  
           }//.col-md-12.img-12.img2
      } //  .col-md-8.img-8
  }// .container-fluid
}//.iv-render.category

// ----------------------------------------------------------------------
//         capability
// ------------------------------------------------------------------------
.iv-render.capability{
  background: #282828;
  padding: 100px;
  .heading{
      text-align: center;
     margin-bottom: 60px; 
      h2{ color:#b6b6b7;font-size: 44px;margin-bottom: 25px}
      .underscore{width: 25%;height: 1px;
            background: linear-gradient(to right,#282828, #494949,#777777,#777777,#494949,#282828);
          margin: auto}
  }//heading
  .col-md-4{
     .content{
         padding-left: 20px;
         padding-right: 20px;
      text-align: center;
      // border: 1px solid red;
      .img{padding: 10px;
          img{width: 50px}//img
      }//.img
      .main-content{
          // width: 80%;
          // margin: 20px auto;
          h4{color:#b6b6b7;margin-bottom: 15px}
          p{color:#b6b6b7}
      }//main-content
    }//content 
  }//.col-md-4
  
}

// ----------------------------------------------------------------------
//         intuitives
// ------------------------------------------------------------------------
.iv-render.intuitive{
  padding: 120px 0 0 0;
  .heading{
      text-align: center;
     margin-bottom: 60px; 
      h2{ color:#282828;font-size: 44px;margin-bottom: 25px}
      .underscore{width:30%;height: 1px;border-radius: 50%;
           background: linear-gradient(to right, #777777,#494949,#282828,#494949,#777777);
          margin: auto}
  }//heading
  .col-md-5.slider{
    .content{
        height: 100%;
        .carousel.slide{height:100%;
            .carousel-inner{height:100%;
                // background: red
                .carousel-item{height:100%;
                    img{height:100%;}
                }
            }
        
        }
        
    }
} 
    ////////tab//// 
   
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }
.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
.tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #38b348;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 10px 0 5px 0;
    text-align: center; }

  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #38b34a; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #38b34a;}
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 10px 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
        .tabs .tab-2 {width: 30%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 300%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0%; }
     .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0%; }
    .tabs .tab-2:nth-child(2) [type="radio"]:checked + div {
      margin-left: -100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -200%; }

.tabs{
    display: flex;
    justify-content: flex-end;
    .col-md-12{
        p{}
        .col-md-6{
            .tab-content{
                text-align: center;
                margin-top: 30px;
                .icon{
                    img{
                        width: 50px
                    }//img
                }//icon
                .message{
                    margin-top: 10px;
                    h3{font-size: 16px}
                    p{font-size: 15px}
                }//message
            }//tab-content
        }//col-md-6
    }//col-md-12
} 
    
}//iv-render.intuitive


// ======================================================================================

          // code for explore our projects

// ======================================================================================

#iv-explore-bg{
  width: 100%;
  height: 70vh;
  .container-fluid{
    height: 100%; 
      .row{
           height: 100%; 
             .col-md-4{
                padding-right: 0;
                padding-left: 140px;
                .contain{
                    img{width: 130px}
                }
                
            }//col-md-4
          .col-md-8{
            background: #282828;
            .contain{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .content-wrap{
                    width: 50%;
                    text-align: center;
                    h2{font-size: 60px;color: #b6b6b7}
                }
            }
            
        }//col-md-8
      }//row
  }//container-fuild

}



.iv-explore.box-8-4{
  // background: red;
  .col-md-8.box-8{
      padding: 0;
      img{width: 100%
      }//img
  }//col-md-8.box-8
  .col-md-4.box-4{
          display: flex;
          justify-content: center;
          align-items: center;
      .content{
          text-align: center;
          h4{font-size: 20px}
      }
  }//col-md-4.box-4
}//.iv-explore.box-8-4

.load-more{
  padding-top: 100px;
   h4{font-size: 20px;text-align: center;
       .fa{color: green;font-weight: bold}
   }
}


