/*==========================================================================================*/
                               /*footer*/
/*=============================================================================================*/
@import "../generics/colors";

/* ============================================================================================== */
/*                     call to action                                                                   */
/* ============================================================================================ */
.call-to-action{
    padding: 100px;
    .col-xs-12{
        width: 100%;
        .content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        .btn{
            border-radius: 0;
        }
      }
    }
  
}
.call-to-action.iv-graphics{
    background: #4f469c;
    h3{
        color: white;
    }
    a.btn{
        border: 1px white solid;
        color:white
    }
}
.call-to-action.iv-exclusive{
     background: #0d1120;
    h3{
        color: white;
    }
    a.btn{
        border: 1px white solid;
        color:white
    }
}
/* ============================================================================================== */
/*                     footer                                                                    */
/* ============================================================================================ */

footer#footer {
    background: #fff;
    position: relative;
    padding: 90px 50px 0 50px;
    .main{
        background: #eee;
        padding: 50px 20px;
        .row.inner{
            .col-md-3.inner{
                border-right: 1px solid #d5d3d3;
                &:last-child{ border-right:none}
                .content{
                    justify-content: center;
                     display: flex;
                    .wrap{
                        h3{
                              font-family: 'julius_sans_oneregular', sans-serif!important;
                            color: #212529;;
                            font-size: 18px;
                            margin-bottom: 30px;
                        }//h3
                        a{
                            padding: 5px 0;
                            color: #212529;
                            font-family: 'Raleway', sans-serif!important;
                            
                        }//a
                    }//wrap
                }//content
            }//.col-md-3.inner 
         }//.row.inner
        
        
    }//main
    .side{
        // background: pink;
         // padding: 50px 0px;
        display: flex;
        justify-content: center;
    .side-box{ width: 70%; right:-104px;top: 0;
            background: #eee;height: 50px; position: absolute;}
        .content{
            width: 85%;
            position: absolute;
            bottom: -83px;
            background: #eee;
            padding: 30px;
            margin-left: 30px;
               display: flex;
        justify-content: center;
             .wrap{
                 // margin: 30px;
            h3{
                
               text-transform: Capitalize!important;
                color: #212529;
                font-size: 18px;
                  font-family: 'Raleway', sans-serif;
                margin-bottom: 30px;
            }//h3
            a{
                padding: 5px 0;
                color: #212529;
                  font-family: 'Raleway', sans-serif!important;
            }//a
                 .connect{
                     
                     margin-top: 50px;
                     h3{
                       font-size: 15px;
                         margin-bottom: 1px;
                           font-family: 'Raleway', sans-serif!important;
                     } //h3
                     .nav{
                         display: flex;
                         justify-content: center;
                         a.nav-link{
                         color:#212529; 
                         width: 20%;
                         height: 19%;
                         text-align: center;
                         margin: 5px;
                             
                     }//a.nav-link
                     }//nav
                 }//connect
          }//wrap
        }//content
        
    }//side
    .copyright-color{
        // padding: 0;
        .container{
            padding: 30px 0;
        }
        
    }
    
 }

