/*==========================================================================================*/
/*footer*/
/*=============================================================================================*/
/* ============================================================================================== */
/*                     call to action                                                                   */
/* ============================================================================================ */
.call-to-action {
  padding: 100px; }
  .call-to-action .col-xs-12 {
    width: 100%; }
    .call-to-action .col-xs-12 .content {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .call-to-action .col-xs-12 .content .btn {
        border-radius: 0; }

.call-to-action.iv-graphics {
  background: #4f469c; }
  .call-to-action.iv-graphics h3 {
    color: white; }
  .call-to-action.iv-graphics a.btn {
    border: 1px white solid;
    color: white; }

.call-to-action.iv-exclusive {
  background: #0d1120; }
  .call-to-action.iv-exclusive h3 {
    color: white; }
  .call-to-action.iv-exclusive a.btn {
    border: 1px white solid;
    color: white; }

/* ============================================================================================== */
/*                     footer                                                                    */
/* ============================================================================================ */
footer#footer {
  background: #fff;
  position: relative;
  padding: 90px 50px 0 50px; }
  footer#footer .main {
    background: #eee;
    padding: 50px 20px; }
    footer#footer .main .row.inner .col-md-3.inner {
      border-right: 1px solid #d5d3d3; }
      footer#footer .main .row.inner .col-md-3.inner:last-child {
        border-right: none; }
      footer#footer .main .row.inner .col-md-3.inner .content {
        justify-content: center;
        display: flex; }
        footer#footer .main .row.inner .col-md-3.inner .content .wrap h3 {
          font-family: "julius_sans_oneregular", sans-serif !important;
          color: #212529;
          font-size: 18px;
          margin-bottom: 30px; }
        footer#footer .main .row.inner .col-md-3.inner .content .wrap a {
          padding: 5px 0;
          color: #212529;
          font-family: "Raleway", sans-serif !important; }
  footer#footer .side {
    display: flex;
    justify-content: center; }
    footer#footer .side .side-box {
      width: 70%;
      right: -104px;
      top: 0;
      background: #eee;
      height: 50px;
      position: absolute; }
    footer#footer .side .content {
      width: 85%;
      position: absolute;
      bottom: -83px;
      background: #eee;
      padding: 30px;
      margin-left: 30px;
      display: flex;
      justify-content: center; }
      footer#footer .side .content .wrap h3 {
        text-transform: Capitalize !important;
        color: #212529;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 30px; }
      footer#footer .side .content .wrap a {
        padding: 5px 0;
        color: #212529;
        font-family: "Raleway", sans-serif !important; }
      footer#footer .side .content .wrap .connect {
        margin-top: 50px; }
        footer#footer .side .content .wrap .connect h3 {
          font-size: 15px;
          margin-bottom: 1px;
          font-family: "Raleway", sans-serif !important; }
        footer#footer .side .content .wrap .connect .nav {
          display: flex;
          justify-content: center; }
          footer#footer .side .content .wrap .connect .nav a.nav-link {
            color: #212529;
            width: 20%;
            height: 19%;
            text-align: center;
            margin: 5px; }
  footer#footer .copyright-color .container {
    padding: 30px 0; }

/*# sourceMappingURL=footer.css.map */
