@import "../generics/colors";



#navbar .bg{
  background:white;
  padding: 20px;
  /* font-family: 'Julius Sans One', sans-serif; */
  font-family: 'julius_sans_oneregular', sans-serif;

  .navbar-brand{margin-right: 40px;}
  .nav-item{margin-right: 20px;}
  .nav-link{color: rgb(63, 62, 62);}
  .nav-item.active .nav-link{color: rgb(0, 0, 0);}

  }

  